<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contactus</title>
</head>
<body>
<h1>This is contactus page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Blanditiis consectetur cumque deserunt dicta eum illum iste,
    laborum molestiae molestias nostrum odit quam sequi tenetur voluptates voluptatibus.
    Aliquid inventore nihil voluptas!</p>


{% load static%}
<img src="{% static 'images/mug.jpg' %}" alt="">
<img src="{% static 'images/apple.jpg' %}" alt="">
<img src="{% static 'images/prada.jpg' %}" alt="">
<img src="{% static 'images/pineapple.jpg' %}" alt="">



</body>
</html>