<!doctype html>
<html lang="en">
<head>
    {% load static%}
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Services</title>
</head>
<body>
<h3>This is services page</h3>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Eos esse minus perferendis quibusdam, quidem quos. Doloribus harum in nemo,
    nihil obcaecati perferendis quae saepe sapiente sed ullam ut vel voluptatem.</span><span>Earum error fuga labore molestiae molestias nostrum, provident quidem quis, recusandae sed suscipit veniam! Beatae delectus dolores illo minus molestias perferendis provident quia quos ratione, recusandae, sunt voluptatibus. Earum, tenetur.</span><span>A alias aliquid debitis deserunt distinctio, enim explicabo facilis harum, hic illum, modi nisi non numquam officiis quam sed vel. Alias aliquid culpa eos eum excepturi in molestias tempora velit.</span><span>Aliquam dolorem expedita, minus necessitatibus nisi qui vitae?
    Accusamus ad alias blanditiis commodi doloremque ducimus eum explicabo hic labore libero molestias mollitia porro possimus quas, reiciendis rerum soluta, vel voluptas?</span></p>


{% load static%}
<img src="{% static 'images/mug.jpg' %}" alt="">
<img src="{% static 'images/apple.jpg' %}" alt="">
<img src="{% static 'images/prada.jpg' %}" alt="">
<img src="{% static 'images/pineapple.jpg' %}" alt="">


</body>
</html>